<section class="mt-3">
  <p> <strong>Nombre del país:</strong> Uruguay</p>
  <img src="../../../assets/uruguay.png">
  <p class="mt-3"><strong>Datos Generales</strong></p>
  <p>Uruguay es un país de Sudamérica conocido por su interior verde y costa bordeada de playas. La capital, Montevideo,
    se ubica en torno a la plaza Independencia, donde alguna vez hubo una ciudadela española.</p>
  <p>
    Esta lleva a la Ciudad Vieja, casas coloniales y el Mercado del Puerto con muchos restaurantes de carnes. La Rambla
    es un paseo costero con puestos de pescados, muelles y parques.
  </p>

</section>