<section class="mt-3">
  <p> <strong>Nombre del país:</strong> Perú</p>
  <img src="../../../assets/peru.png">
  <p class="mt-3"><strong>Datos Generales</strong></p>
  <p>Perú es un país de Sudamérica que abarca una sección del bosque del Amazonas y Machu Picchu, una antigua ciudad
    inca en las alturas de los Andes. La región en torno a Machu Picchu, incluido el Valle Sagrado, el Camino del Inca y
    la ciudad colonial de Cuzco, es rica en sitios arqueológicos</p>
  <p>
    El Perú es uno de los países más variados del mundo. Un país multicultural, lleno de tradiciones, una laureada
    gastronomía y vastas reservas naturales.
  </p>

</section>